.footer-container {
  margin: 0px;
  background-color: white;
  .footer {
    margin: 0px;
    border-top: 1px solid rgb(180, 180, 180);
    .footer-inner {
      padding: 25px 0px 25px 36px;
      a.footer-menu-item {
        color: #27a69b;
        font-weight: bold;
      }
    }

    .company-signature {
      width: 77%;
      text-align: right;
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    display: none !important;
  }
}
