.menu {
  display: flex;
  align-items: center;
  padding: 0px 3px 0px 0px;

  .nav {
    width: 100%;
    align-items: center;
    background-color: #019488;
    border: 2px solid #019488;
    .nav-item {
      width: 15%;
      .nav-menu {
        .nav-link {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          margin-right: 2px;
          background-color: #27a69b;
          color: white;
        }
      }
    }
  }
  .mobile-nav {
    display: none;
  }
  .search-bar {
    width: 40%;

    ::placeholder {
      color: white;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    label {
      margin-bottom: 0px;
    }
    form {
      width: 100%;
      input,
      input:focus {
        outline: none;
        height: 34px;
        border-radius: 10px;
        border: 1px;
        width: 95%;
        padding: 0px 10px;
        margin: 8px 10px;
        background-color: #27a69b;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .menu {
    padding: 0px !important;
    flex-direction: column;

    .nav {
      border: 0px !important;
      .nav-menu {
        display: none !important;
      }
    }

    .mobile-nav {
      display: flex !important;
      justify-content: space-between;
      width: 100%;
      .mobile-logo {
        border-radius: 50%;
        height: 45px;
        width: 45px;
        margin: 4px 0px 4px 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
      }
      .news-title {
        color: white;
        font-weight: bold;
        font-size: 130%;
        margin-left: -4%;
      }
      .news-hamburger-menu {
        margin: 0px 15px 0px 0px;
        font-size: 140%;
        color: white;
      }
    }
  }

  .search-bar {
    background-color: rgb(210, 210, 210) !important;
    width: 100% !important;
    ::placeholder {
      color: #aaaaaa !important;
    }
    input,
    input:focus {
      background-color: white !important;
      color: #aaaaaa !important;
      width: 96% !important;
      padding: 10px !important;
    }
  }
}
