.news-image-mobile {
  display: none;
}

@media only screen and (max-width: 1199px) {
  .news-image-mobile {
    display: block !important;
    float: left;
    width: 46%;
    margin-right: 10px;
    img {
      height: auto !important;
    }
  }
}
