.no-matched-search {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  height: 70vh;
}

.news-card {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 2px;
  margin-bottom: 45px;
  flex: 0 0 31%;
  max-width: 31%;
  img {
    width: 100%;
    height: auto;
  }
  .news-title {
    padding: 20px 0px 20px 0px;
    margin-bottom: 0px;
    color: #27a69b;
    font-size: 20px;
    font-weight: bold;
  }
  .news-body {
    min-height: 200px;
  }
}

.load-more-col {
  border-radius: 10px;
  padding: 0px;
  margin: 10px 0px 10px 0px;
}

button.load-more-btn {
  border-radius: 10px;
  width: 100%;
  padding: 0px;
  margin: 0px 0px 70px 0px;
  padding: 10px 0px 10px 0px;
  background-color: white;
  border: 1px solid rgb(180, 180, 180);
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .news-card {
    margin-right: 0px !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
